<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">



<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row myAccountHeader" style="margin-bottom: 50px;">
			<div class="col-xs-8 laptopviewHeader">
				<h2 class="section-headline">
					<span
						th:text="${user}? ${#strings.toUpperCase(user.username)} : 'List of our laptops'"></span>

				</h2>
				<h4 style="text-align: center; color: #fff;">Enjoy our products
					!</h4>

			</div>

			<div class="col-xs-4">
				<img src="/images/logo.jpg" class="img-responsive"
					style="height: 300px;" />
			</div>
		</div>


		<form th:action="@{/shoppingCart/addItem}" method="post"
			style="margin-bottom: 50px;">
			<input type="hidden" th:field="*{laptop.id}" />
			<div class="row" style="margin-top: 20px;">
				<div class="col-xs-3">
					<a th:href="@{/laptopview}"
						style="font-size: 18px; text-decoration: underline; color: rgb(128, 64, 64);">Back
						to laptop view</a><br> <img class="img-responsive"
						th:src="#{adminPath}+@{/images/laptop/}+${laptop.id}+'.png'" />
				</div>

				<div class="col-xs-9">
				
					
					<div class="alert alert-success" th:if="${addLaptopSuccess}" >
						<i class="fa fa-check" aria-hidden="true" style="color: forestgreen"></i>Added
							to cart.
					</div>
				

								
					<div class="alert alert-danger" th:if="${notEnoughStock}">
										Oops,
							only <span th:text="${laptop.inStockNumber}"></span> left in stock.
					</div>
					

					<h3 th:text="${laptop.model}" style="color: rgb(0, 128, 192);">Laptop
						model</h3>
					<div class="row">
						<div class="col-xs-5">
							<p>
								<strong>Brand: </strong><span th:text="${laptop.brand}"></span>
							</p>
							<p>
								<strong>Operating System: </strong><span
									th:text="${laptop.operatingSystem}"></span>
							</p>
							<p>
								<strong>Memory: </strong><span th:text="${laptop.memory}"></span>
							</p>
							<p>
								<strong>Storage Space: </strong><span
									th:text="${laptop.storageSpace}"></span>
							</p>
							<p>
								<strong>Category: </strong><span th:text="${laptop.category}"></span>
							</p>
							<p>
								<strong>Graphic Card: </strong><span
									th:text="${laptop.graphicCard}"></span>
							</p>
							<p>
								<strong>Processor: </strong><span
									th:text="${laptop.proccessor}"></span>
							</p>
							<p>
								<strong>Screen Type: </strong><span th:text="${laptop.screen}"></span>
							</p>
							<p>
								<strong>Warranty Lenght: </strong><span
									th:text="${laptop.warranty}"></span>
							</p>
							<p>
								<strong>Shipping Weight: </strong><span
									th:text="${laptop.shippingWeight}"></span>kg
							</p>
						</div>
						<div class="col-xs-7">
							<div class="panel panel-default"
								style="border-width: 2px; margin-top: 20px;">
								<div class="panel-body">
									<div class="row">
										<div class="col-xs-6">
											<h4>
												Our price: <span style="color: rgb(0, 128, 192);">&euro;<span
													th:text="${laptop.ourPrice}"></span></span>
											</h4>
											<p>
												List price: <span style="text-decoration: line-through">&euro;<span
													th:text="${laptop.listPrice}"></span></span>
											</p>
											<p>
												You save: &euro;<span
													th:text="${#numbers.formatDecimal((laptop.listPrice - laptop.ourPrice), 0, 'COMMA', 2, 'POINT')}"></span>
											</p>
											<span>Qty: </span> <select name="qty">
												<option th:each="qty : ${qtyList}" th:value="${qty}"
													th:text="${qty}"></option>
											</select>
										</div>
										<div class="col-xs-6">
											<h4 th:if="*{laptop.inStockNumber&gt;5}"
												style="color: green;">In stock</h4>
											<h4
												th:if="*{laptop.inStockNumber&lt;5 and laptop.inStockNumber&gt;0}"
												style="color: green;">
												Only <span th:text="${laptop.inStockNumber}"></span> left in
													stock
											</h4>
											<h4 th:if="*{laptop.inStockNumber==0}"
												style="color: darkred;">Unavailable</h4>
											<button type="submit" class="btn btn-primary"
												style="color: black; border: 1px solid black; padding: 10px 40px;">Add
												to Cart</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
					<p th:text="${laptop.description}"></p>
				</div>
			</div>
		</form>

	</div>

	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>